@import "../../../common_styles/variables";
@import "../../../common_styles/animations";

.leases {
  margin: 12px;
  animation: fadeIn ease 300ms;

  table {
    border-collapse: collapse;
    border: 1px solid $border_color;
  }

  td,
  th {
    border: 1px solid $border_color;
    padding: 8px 24px;
  }

  th {
    background: $header_background;
  }

  td {
    font-size: 16px;
  }

  .contact-item {
    display: block;
  }
}
